@*@model VidlyMVC.ViewModels.RandomMovieViewModel*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @Html.Partial("_NavBar") @* Here we will pass the partial view _NavBar. *@
    @*@Html.Partial("_NavBar", Model.Movie)*@ @* if we have a model, we can put in the second argument, furthermore, if we have
                                              a model and don't specify a model, the model is currently passed to display
                                              our view will be automatically to this partial view. 
                                              In this example we are pass a movie and not the entire random movie View. *@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vidly ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
